[Unit]
Description=Start Steam Link at Login
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=pi
Environment="DISPLAY=:0"
ExecStartPre=bash -c "/usr/bin/wakeonlan -i 10.0.0.255 bc:ae:c5:50:ef:49 || true"
ExecStart=/usr/bin/steamlink
Restart=on-failure

[Install]
WantedBy=graphical.target
